# Unreal Engine
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Mac
.DS_Store
*.dSYM

# Built plugin packages
*.uplugin.bak

# Test results
TestResults/
*.test.log
