[submodule "ThirdParty/moq-ffi"]
	path = ThirdParty/moq-ffi
	url = https://github.com/lifelike-and-believable/moq-ffi.git
[submodule "External/moq-ffi"]
	path = External/moq-ffi
	url = https://github.com/lifelike-and-believable/moq-ffi.git
